.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #0000;
  padding: 16px;
  max-height: 7vh;
}

.navbar * {
  margin: 0;
  padding: 0;
}

.navbar ul,
.navbar li {
  list-style-type: none;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.navbar a {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

.navbar a:hover {
  opacity: 1;
}

.navbar a.active {
  opacity: 1;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .navbar {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    justify-content: flex-end;
  }

  .navbar ul {
    justify-content: flex-end;
    gap: 16px;
  }
}
