#product-page {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 18px;
}

#product-page .message-404 {
  color: var(--primary);
  font-size: 2.8rem;
  font-weight: 600;
}

#product-page .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#product-page .content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  width: 100%;
}

#product-page .content > div {
  width: 100%;
}

#product-page .content .card {
  padding: 14px 16px;
}

#product-page h2 {
  font-size: 2rem;
}

#product-page .title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#product-page .title p {
  font-size: 1.3rem;
}

#product-page .description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#product-page .description p:first-child {
  font-size: 0.9rem;
  opacity: 0.7;
}

@media screen and (min-width: 600px) {
  #product-page .container {
    grid-template-columns: 2fr 3fr;
  }

  #product-page .content > div {
    width: auto;
  }
}
